.link-selected {
    background-color: green;
}

.link {
    padding: 8px;
    background-color: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 8px;
    display: inline;
}